{
  "env": {
    "browser": true,
    "jquery": true,
  },

  "globals": {
      "constants": true,
      "HanabiUI": true,
      "hex_sha256": true,
      "Kinetic": true,
      "Opentip": true,
      "TimerDisplay": true,
  },
}
